__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.venv/
build/nova/
dist/
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.vscode/
.idea/
*.swp
.DS_Store
app/data/*.db
app/data/*.db-*
!app/data/*.seed.db
installer/*.exe
.env
*.log
temp/
